  <h3 class="mt-5 ms-4">Customer Orders</h3>
  <div class="table-responsive mt-5">
    <table class="table table-hover text-center">
      <thead>
        <tr>
          <th scope="col">Order ID</th>
          <th scope="col">Customer Name</th>
          <th scope="col">Customer Address</th>
          <th scope="col">Order Total</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let order of orders">
          <td>{{order.id}}</td>
          <td>NAME</td>
          <td>{{order.customerAddress}}</td>
          <td>{{order.total}}</td>
        </tr>
      </tbody>
    </table>
  </div>
